* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    height: 70px;
    background-color: #EC715F;
}

.headerbox {
    width: 1024px;
    margin: 0 auto;
}

header nav {
    float: right;
}

header li {
    list-style: none;
    display: inline-block;
    color: #FAFAFA;
    padding: 0 30px;
    line-height: 70px;
    font-size: 16px;
}

.logo {
    width: auto;
    height: 70px;
}

.main-visual {
    background-image: url(img/mv.png);
    background-size: cover;
    width: 100%;
    height: 650px;
}

.visual-box {
    text-align: center;
    padding-top: 200px;
}

.mv-title {
    font-size: 64px;
    color: #FAFAFA;
    padding-bottom: 10px;
}

.mv-text {
    font-size: 20px;
    color: #FAFAFA;
}

.box1 {
    background-color: #ECEFF1;
}

.portfolio {
    margin: 0 auto;
    width: 920px;
}

.portfolio-box {
    text-align: center;
    padding-top: 90px;
}

.portfolio-box h2 {
    font-size: 32px;
    color: #000000;
}

.portfolio-box h2::after {
    display: block;
    content: "";
    border-bottom: solid 3px;
    border-color: #EC715F;
    width: 70px;
    margin: 8px auto 0;
}

.portfolio-text {
    padding-top: 30px;
    color: #000000;
    font-size: 16px;
}

.portfolio-main {
    padding-top: 30px;
    padding-bottom: 90px;
}

.portfolio-img {
    width: 300px;
    height: 250px;
    background-position: center;
    background-size: cover;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.portfolio-img:nth-child(3n) {
    margin-right: 0;
}

.img1 {
    background-image: url(img/sketch.jpg);
}

.img2 {
    background-image: url(img/websuku.png);
}

.img3 {
    background-image: url(img/write.jpg);
}

.img4 {
    background-image: url(img/webcamp.png);
}

.img5 {
    background-image: url(img/talk.jpg);
}

.img6 {
    background-image: url(img/webcamp-mother.png);
}

.feature {
    background-color: #FFFFFF;
    width: 980px;
    margin: 0 auto;
}

.feature {
    padding-top: 90px;
    text-align: center;
}

.feature-title h2 {
    text-align: center;
    font-size: 32px;
    color: #000000;
}

.feature-title h2::after {
    display: block;
    content: "";
    border-bottom: solid 3px;
    border-color: #EC715F;
    width: 70px;
    margin: 8px auto 0;
}

.feature-text {
    padding-top: 30px;
    font-size: 16px;
    color: #000000;
}

.feature-main {
    padding-top: 30px;
    padding-bottom: 90px;
}

.fa-text {
    font-size: 60px;
}

.feature-h2 {
    font-size: 20px;
    color: #000000;
    padding: 10px 0;
}

.feature-p {
    font-size: 16px;
    color: #000000;
}

.feature1 {
    width: 320px;
    height: auto;
    float: left;
}

.feature2 {
    width: 320px;
    height: auto;
    float: left;
}

.feature3 {
    width: 320px;
    height: auto;
    float: left;
}

.profile-box {
    background-color: #ECEFF1;
}

.profile {
    width: 1024px;
    /* height: 1200px; */
    margin: 0 auto;
    /* background-color: #ECEFF1; */
    /* padding-bottom: 90px; */
}

.profile-title {
    padding-top: 90px;
    text-align: center;
}

.profile-title h2 {
    /* text-align: center; */
    color: #000000;
    font-size: 32px;
}

.profile-title h2::after {
    display: block;
    content: "";
    border-bottom: solid 3px;
    border-color: #EC715F;
    width: 70px;
    margin: 8px auto 0;
}

.profile-p {
    padding-top: 30px;
    font-size: 16px;
    color: #000000;
}

.profile-main {
    padding-top: 30px;
    /* margin: 0 auto; */
    padding-bottom: 90px;
}

.left {
    width: 50%;
    /* margin: 0 auto; */
    float: left;
}

.right {
    width: 50%;
    float: left;
}

.profile-img {
    background-image: url(img/my-icon.jpg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-sub-title {
    font-size: 20px;
}

.profile-sub-title:last-of-type{
    padding-top: 20px;
}

.profile-sub-text {
    font-size: 16px;
    color: #000000;
}

.contact-box {
    /* background-color: red; */
}

.contact {
    margin: 0 auto;
    width: 800px;
}

.contact-header {
    text-align: center;
    padding-top: 90px;
}

.contact-header h2 {
    font-size: 32px;
    color: #000000;
}

.contact-header h2::after {
    display: block;
    content: "";
    border-bottom: solid 3px;
    border-color: #EC715F;
    width: 70px;
    margin: 8px auto 0;
}

.contact-header p {
    padding-top: 30px;
}

.contact-main {
    width: 800px;
    margin: 0 auto;
    /* background-color: red; */
    padding-top: 30px;
    padding-bottom: 90px;
}

.contact-left {
    width: 50%;
    float: left;
}

.mail {
    margin: 0 auto;
    width: 25%;
}

.contact-left h3 {
    font-size: 20px;
    padding-bottom: 5px;
}

.contact-left h3:nth-child(2) {
    padding-top: 20px;
}

.contact-right {
    width: 50%;
    float: left;
}

.sns {
    width: 50%;
    margin: 0 auto;
}

.sns h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.sns-text {
    font-size: 50px;
    float: left;
    margin-right: 20px;
}